<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <context-param>
        <param-name>contextParam1</param-name>
        <param-value>bilbo</param-value>
    </context-param>
    <servlet>
        <servlet-name>CheckConfig</servlet-name>
        <display-name>CheckConfig</display-name>
        <jsp-file>/jsp/core_syntax/implicitobjects/checkConfig.jsp</jsp-file>
        <init-param>
            <param-name>configParam1</param-name>
            <param-value>hobbit</param-value>
        </init-param>
        <init-param>
            <param-name>configParam2</param-name>
            <param-value>gollum</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckConfig</servlet-name>
        <url-pattern>/CheckConfig</url-pattern>
    </servlet-mapping>
    <taglib>
        <taglib-uri>http://java.apache.org/tomcat/examples-taglib</taglib-uri>
        <taglib-location>/WEB-INF/tlds/example-taglib.tld</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>/TestLib.tld</taglib-uri>
        <taglib-location>/WEB-INF/tlds/TestLib.tld</taglib-location>
    </taglib>

<!-- These are only for testing if the Tld resource path is calculated properly
-->
    <taglib>
        <taglib-uri>http://java.apache.org/tlds/tld-absolute</taglib-uri>
        <taglib-location>/WEB-INF/tlds/example-taglib.tld</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>http://java.apache.org/tlds/tld-absolute-jar</taglib-uri>
        <taglib-location>/WEB-INF/lib/tld_resource.jar</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>/tld_relative</taglib-uri>
        <taglib-location>/WEB-INF/tlds/example-taglib.tld</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>/tld_jar</taglib-uri>
        <taglib-location>/WEB-INF/lib/tld_resource.jar</taglib-location>
    </taglib>

</web-app>
