<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

  <display-name>PerformanceTests</display-name>
  <description>Performance Tests.</description>

  <servlet>
    <servlet-name>WaitServlet</servlet-name>
    <servlet-class>
      com.google.opengse.performance.WaitServlet
    </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>EchoServlet</servlet-name>
    <servlet-class>
      com.google.opengse.performance.EchoServlet
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>WaitServlet</servlet-name>
    <url-pattern>/wait</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>EchoServlet</servlet-name>
    <url-pattern>/echo</url-pattern>
  </servlet-mapping>
</web-app>
